<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Page - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>Thermal Imaging Camera</h2>
                </div>
                <div class="image" id="video-frame1" style="width: {{ width1 }}px; height: {{ height1 }}px;"></div>
            </div>
            <div class="container">
                <div class="heading">
                    <h2>Hololens</h2>
                </div>
                <div class="image" id="video-frame2" style="width: {{ width2 }}px; height: {{ height2 }}px;"></div>
            </div>
        </section>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script>
      const videoFrame1 = document.getElementById("video-frame1");
      const videoFrame2 = document.getElementById("video-frame2");

      function updateFrame() {
          Promise.all([fetch("/frame/1"), fetch("/frame/2")])
              .then(responses => Promise.all(responses.map(response => response.text())))
              .then(frames => {
                  videoFrame1.style.backgroundImage = "url(data:image/jpeg;base64," + frames[0] + ")";
                  videoFrame2.style.backgroundImage = "url(data:image/jpeg;base64," + frames[1] + ")";
              });
      }

      setInterval(updateFrame, 100);

    </script>


</body>

</html>
